iframe{
    height: 80vh;
    width: 80vw;
}

.iframeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

@media screen and (max-width: 800px) {
    iframe{
        width: 80vw;
        height: 40vh;
    }
}